name: Go CLI Test

on:
  push:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Ubuntu 22.04 LTS uses go 1.18
        # Debian 12 (bookworm) uses go 1.19
        # Ubuntu 24.04 LTS uses go 1.22
        # Debian 13 (trixie) uses 1.24
        # Build uses 1.26
        go-version: [1.18, 1.19, 1.22, 1.24, 1.26]

    steps:
      - name: Checkout repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
        with:
          go-version: ${{ matrix.go-version }}
          cache: false # cache not needed if there is no go.sum file

      # not needed without dependencies
      # - name: Install dependencies
      #   run: go mod tidy

      - name: Vet
        run: go vet ./...

      - name: Run tests
        run: go test ./... -v

