name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # permission for both create-release and upload-release-asset

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '>= 1.25'
        cache: false # cache not needed if there is no go.sum file

    - name: Build
      run: |
        chmod +x build-all.sh
        TAG_NAME=${GITHUB_REF#refs/tags/}
        echo "Github Ref: ${GITHUB_REF}"
        echo "Tag Name: ${TAG_NAME}"
        ./build-all.sh ${TAG_NAME}

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: true
        prerelease: true

    - name: Upload CHECKSUMS.txt
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./dist/CHECKSUMS.txt
        asset_name: CHECKSUMS.txt
        asset_content_type: text/plain

    - name: Upload Release Asset (Linux AMD64)
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./dist/code2md-linux-amd64
        asset_name: code2md-linux-amd64
        asset_content_type: application/octet-stream

    - name: Upload Release Asset (Linux ARM64)
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./dist/code2md-linux-arm64
        asset_name: code2md-linux-arm64
        asset_content_type: application/octet-stream

    - name: Upload Release Asset (Darwin AMD64)
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./dist/code2md-darwin-amd64
        asset_name: code2md-darwin-amd64
        asset_content_type: application/octet-stream

    - name: Upload Release Asset (Darwin ARM64)
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./dist/code2md-darwin-arm64
        asset_name: code2md-darwin-arm64
        asset_content_type: application/octet-stream

    - name: Upload Release Asset (Windows AMD64)
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./dist/code2md-windows-amd64.exe
        asset_name: code2md-windows-amd64.exe
        asset_content_type: application/octet-stream

    - name: Upload Release Asset (Windows ARM64)
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./dist/code2md-windows-arm64.exe
        asset_name: code2md-windows-arm64.exe
        asset_content_type: application/octet-stream
